server:
  port: 8888
spring:
  application:
    name: spring-cloud-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/marlon-frazao/greeting-service-config-server-java21
          search-paths:
            - greeting-service
#  profiles:
#    active:
#      - native